<p>
    Thank you for your request!<br />
    We are working on finding an Academic Coach and will be in touch about a time for you to meet them as soon as one is available!
</p>
<p>
    If you are experiencing academic difficulties and want help to assess barriers interfering with learning effectiveness and academic progress, you can contact Dr. Chip Studwell
    at <a href="mailto:cstudwell@bridgewater.edu">cstudwell@bridgewater.edu</a> or 540-828-5370 to schedule an appointment.
</p>
<p>
    Remember to check in regularly with your professors is a recommended way to stay informed about course material and assignments!
</p>
<p>
    Academic Support and Disability Services<br />
    Bicknell House, 419 E. College St. - next to the president’s house
</p>