<p>A new Flory Honors Program Application Essay has been submitted by:</p>
<table>
    <tr>
        <td>Student's Name: {{ fullname }}</td>
    </tr>
    <tr>
        <td>Student's High School: {{ high_school }}</td>
    </tr>
</table>
<p>See attached file for the essay.</p>